.contact-page-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    
    .left-column {
        background-image: url("../../static/assets/images/auth/login.jpg");
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            padding-bottom: 15px;
        }

        span {
            padding-left: 5px;
        }
    }
}

.about-page-icons {
    color: $teal;
}